	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #E9E9E9 url(images/bg01.png) repeat;
		font-family: 'Verdana', 'Roboto', 'Cambria', serif, ;
		font-size: 11pt;
		font-weight: 400;
		color: #969696;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 100%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #01A9DC;
		font-weight: bold;
	}
	
	a:hover
	{
		text-decoration: none;
	}

	a.tooltip {outline:none; }
	a.tooltip strong {line-height:30px;}
	a.tooltip:hover {text-decoration:none;} 
	a.tooltip span {
		z-index:10;display:none; padding:14px 20px;
		margin-top:-30px; margin-left:28px;
		width:300px; line-height:16px;
	}
	a.tooltip:hover span{
		display:inline; position:absolute; color:#111;
		border:1px solid #DCA; background:#fffAF0;}
	.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
		
	/*CSS3 extras*/
	a.tooltip span
	{
		border-radius:4px;
		box-shadow: 5px 5px 8px #CCC;
	}
	
	.container
	{
		margin: 0 0 0 0;

	}
	
	.container_outer
	{
		margin: 0 30px 0 30px;
		max-width: 1080px;
	}

	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 0 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}



/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		background: #00A4D9;
		border-radius: 5px;
		line-height: 4em;
		padding: 0 3em;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		letter-spacing: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		outline: 0;
		white-space: nowrap;
		font-weight: 700;
		font-size: 1em !important;
		color: #fff !important;
	}

	.button:hover
	{
		background: #18ACD9;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}
	
	.button:active
	{
		background: #0091BD;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}
	
	.button-big
	{
		line-height: 4em;
		padding: 0 3em;
		font-size: 1.1em !important;
	}

	#rcorners1 {
		border-radius: 7px;
		background: #01A9DC;
		padding: 3px; 
		color: white;
		text-align: center;
	}
	
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#wrapper
	{
		position: relative;
		padding: 0em 0em 5em 0em;
		background: #FFF;
		box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		height: 10em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		text-align: left;
		margin: 1em 50pt 1em 50pt;		
	}
	
	#logo h1
	{
		text-align: left;
		color: #292929;
	}
	
	#logo h1 a
	{
		text-align: left;
		margin-left: 30pt;
		text-decoration: none;
		font-size: 1.2em;
		color: #292929;
		text-shadow: 1px 1px 1px #ccc;
	}
	
	#logo span
	{
		text-align: left;
		color: #686868;
	}

	
	#logo p
	{
		text-align: left;
		margin: 0;
		padding: 0 0 0 30pt;
		color: #626262;
		font-size: 1.2em;
		text-shadow: 1px 1px 1px #ccc;
	}

	#logo p a
	{
		text-align: left;
		text-decoration: none;
		color: #121212;
		text-shadow: 1px 1px 1px #ccc;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		background: #292929;
	}
	
	#menu ul
	{
		margin: 0;
		padding: 0px 0px 0px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu a
	{
		display: block;
		padding: 0em 2em;
		line-height: 50px;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #838383;
	}
	
	#menu .current_page_item a
	{
		background: #01A9DC;
		color: #FFF;
	}
	
	#menu a:hover
	{
		text-decoration: none;
		color: #FFF;
	}


/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#second-row
	{
		overflow: hidden;
		position: relative;
		padding: 0em 30px 1em 30px;
		background: #F4F4F4;
		color: #191919;
	}
	
	#second-row .arrow-down {
		border-top-color: #FFF !important;
	}
	
	#second-row .title
	{
		padding: 0.2em 0em 1.0em 0em;
		text-align: center;
	}
	
	#second-row .p
	{
		text-align: center;
	}
	
	#second-row .title h2
	{
		font-size: 1.60em;
		font-weight: 700;
		font-family: 'Source Serif Pro','Calibri', sans-serif;
		color: #474747;
	}
	
	#second-row  .title .byline
	{
		padding-top: 0.20em;
		font-size: 1.00em;
		color: #858585;
	}

	#second-row .content
	{
		overflow: hidden;
		text-align: center;

	}
	
	#second-row .content p
	{
		text-align: center;
		font-size: 1.0em;
	}
	
	#second-row .content table
	{
		margin-left: auto;
		margin-right: auto;

		text-align: left;
		font-size: 1.0em;
		border: 0;
	}
	
	
	
	#second-row a
	{
		color: #01A9DC;
	}
	
	#second-row ul
	{
		margin-bottom: 2em;
		padding: 0;
		list-style: none;
	}
	
	#second-row li
	{
		float: left;
		width: 295px;
		margin: 0px 10px;
		padding: 10px 10px;
	}
	
	#second-row li img
	{
		border: 10px solid rgba(0,0,0,.10);
	}
	
	#second-row li a
	{
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		opacity: .6;
	}
	
	#second-row li a:hover
	{
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		opacity: 1;
	}
	

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		padding: 2em 0em;
		font-size: 0.80em;
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #FFF;
		color: #6A6A6A;
	}
	
	#copyright a
	{
		color: #747474;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#third-row
	{
		position: relative;
		overflow: hidden;
		padding: 0em 30px 2em 30px;
		background: #292929 url(images/bg01.png) repeat;
	}
	
	
	
	#third-row .current_item a
	{
		opacity: 1;
	}
	
	#third-row .title
	{
		padding: 1.2em 0em 1.0em 0em;
		font-family: 'Source Serif Pro','Calibri', sans-serif;
		text-align: center;
	}
	
	#third-row .title h2
	{
		font-size: 1.6em;
		color: #FFF;
	}
	
	#third-row .title .byline
	{
		padding-top: 0.20em;
		font-size: 1.00em;
		color: #d5d5d5;
	}
	
	#third-row .actions
	{
		text-align: center;
	}
	
	#third-row .content
	{
		overflow: hidden;
		text-align: center;
		color: #d5d5d5;
	}
	
	#third-row .content p
	{
		font-size: 1.0em;
	}
	#third-row .content table
	{
		margin-left: auto;
		margin-right: auto;

		text-align: left;
		font-size: 1.0em;
		border: 0;
	}
	
	#third-row .button
	{
		margin: 2em 0.50em 0em 0.50em;
	}
	
	#third-row .arrow-down {
		border-top-color: #F4F4F4 !important;
	}
	
	

	.arrow-down-blue {
		margin: 0 auto;
		width:0;
		height:0;
		border-top: 40px solid #01A9DC;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		display: block;
		text-align: center;
	}

	.arrow-down {
		margin: 0 auto;
		width:0;
		height:0;
		border-top: 40px solid #FFF;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		display: block;
		text-align: center;
	}
	
/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

	#first-row
	{
		overflow: hidden;
		text-align: left;
		color: #525252;
		
		position: relative;
		padding: 0em 30px 1em 30px;
	}
	
	#first-row h2
	{
		margin: 0.5em 0em 0em 0em;
		font-size: 1.5em;
		font-weight: 700;
		color: #454445;
	}
	
	#first-row .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 0.80em auto;
		line-height: 150px;
		font-size: 4em;
		background: #FFF;
		width: 150px;
		height: 150px;
		border-radius: 100px;
		border: 6px solid #00A4D9;
		text-align: center;
		color: #00A4D9;
	}
		
	#first-row .title
	{
		text-align: center;
		padding: 0.1em 0em 0.8em 0em;
	}
	
	#first-row .title h2
	{
		font-size: 1.60em;
		font-weight: 700;
		font-family: 'Source Serif Pro','Calibri', sans-serif;
		color: #00A4D9;
	}
	
	#first-row .title .byline
	{
		padding-top: 0.20em;
		font-size: 1.00em;
		color: #858585;
	}

	#first-row .arrow-down
	{
		border-top-color: #292929;
	}
	#first-row .arrow-down-blue
	{
		border-top-color: #01A9DC;
	}
	
	#first-row .content
	{
		overflow: hidden;
		text-align: center;
		color: #454545;
	}
	
	#first-row .content p
	{
		text-align: center;
	}
	
	#first-row .content table
	{
		margin-left: auto;
		margin-right: auto;

		text-align: left;
		border: 0;
		font-size: 1.0em;
	}
	
	

	
	